<!-- Gamification modal -->
<div ng-include="'templates/modals/gamification.html'"></div>

<!-- Sidebar -->
	<div class="vertical grid-block section">
		<div class="title-bar no-padding margin-bottom without-border">
			<div class="left">
				<h1>Wisdom plant</h1>
				<p class='no-margin'>Water it everyday with a new succesful test!</p>
			</div>
		</div>
		<div class="player-progress grid-block vertical card section text-align-center">

			<div class="align-center">
				<img src="img/plant.png" alt="">
				<div class='section'>
					<h2>Level 4: Champ chump</h2>
					<p>Champ chumps are very motivated plants. They do their best to grow as fast as they can!</p>
					<p class='success'>3 more waterings left until next level</p>
				</div>
			</div>


			<progress value="70" max="100" class='high'></progress>
			<a href="" class="button success no-margin" zf-open="gamification">Let's water it with: The industrial revolution</a>

		</div>
		<p class="meta footer">Alma Mater Demo · <a href="https://gaboratorium.com" target="_blank">gaboratorium</a> · 2016 · Copenhagen</p>

	</div>
