<div class="hide-for-small-only">
	<p>Thank you for your interest! This feature will be implemented soon in Alma Mater. Until then, you can support the project by filling out a questionnaire (in Hungarian).</p>
	<a href="http://goo.gl/forms/L7QGIBcSaQsCT4br2" target="_blank" class="success button">Ok, I will help by filling out a form</a>
	<p><a zf-close="">...maybe later.</a></p>
</div>
<div class="show-for-small-only">
	<a zf-close="" class="success button">Ok, sounds good</a>
	<p><a href="http://goo.gl/forms/L7QGIBcSaQsCT4br2" target="_blank">I have heard that there is a questionnaire!</a></p>
</div>
