<div zf-modal="" id="new-library" class='gb-modal'>
	<div class="section">
		<img src="img/library.png" alt="Ő is nagyon várja már a teljes verziót!">
		<h1>Create your own libraries!</h1>
		<p>Collect your favorite books and organize them in your libraries. A café belongs to every library, where subcribers can have discussions about the books and chapters, furthermore they can share documents with each other.</p>
		<hr>
		<div ng-include="'templates/modals/demo-version.html'"></div>
	</div>
</div>